# Server folder exclusions
server/node_modules/
server/.env

# Client folder exclusions
ng-frontend/node_modules/
ng-frontend/.angular/
ng-frontend/.vscode/

# General exclusions
node_modules/
*.log
.DS_Store
