<div>
    <h2>All Blogs</h2>

    <div>
        @for (blog of blogs$(); track $index) {
            <h3> <a href="" [routerLink]="blog._id">{{blog.title}}</a></h3>
            <!-- <p>Debugging Area, Blog: {{blog | json  }}</p> -->

            <div>
                <!-- [routerLink]="'edit/' element._id" -->
                <button class="btn btn-primary" (click)="updateById(blog)"  >Edit</button>
                <!-- [routerLink]="'delete/' element._id" -->
                <button class="btn btn-danger" (click)="deleteById(blog._id)"  >Delete</button>
                
                <button data-bs-toggle="collapse" [attr.data-bs-target]="'#'+blog._id" >Comments</button> 
            </div>

            <div>
                <img [src]="blog.img" alt="">
                
                <p>{{blog.body}}</p>
            </div>
       
            @for (comment of blog.comments; track $index) {
                <div>
                    <div [id]='blog._id' class="collapse">
                        {{comment.username}} - {{comment.commentBody}}
                    </div> 
                </div>
            }
        }
        <!-- [routerLink]="'new' -->
        <button class="btn btn-success m-3" routerLink="add-blog"  >Add new Blog</button>
    </div>

    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#" routerLinkActive="active">1</a></li>
        <li class="page-item"><a class="page-link" href="#" routerLinkActive="active">2</a></li>
        <li class="page-item"><a class="page-link" href="#" routerLinkActive="active">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul> 

</div>
