@if (loading) {
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
    </div>
} @else {
    @if (blog._id) {
        <div class="outer-container">
            <div class="container">
                <h1>{{blog.title}} </h1>
                <h2>Date Created: {{ blog.date | date }}</h2>
                <p>
                    {{blog.body}}
                </p>
                <button class="btn btn-success mb-2" data-bs-toggle="collapse" [attr.data-bs-target]="'#'+blog._id" >Comments</button> 
        
        
        
                <div class="container">
                    @for (tag of blog.tags; track $index) {
                        <a class="text-decoration-none px-1 py-1 me-2 tag-box" (click)="onTagClick(tag)">{{tag}} </a>
                    }
                </div>
                
        
                @for (comment of blog.comments; track $index) {
                    <div>
                        <div [id]='blog._id' class="collapse">
                            <div>
                                <span><strong>{{ comment.username }}</strong></span>
                                <span>: {{ comment.commentBody }}</span>
                              </div>
                              <div>
                                <span class="text-muted" style="font-size: 0.8em; font-style: italic;">
                                  {{ comment.date | date: 'dd/MM/yyyy HH:mm' }}
                                </span>
                              </div>
                             
                        </div> 
                    </div>
                }
        
                @if (isUser()) {
                    <form [formGroup]="addCommentForm">
                        <label class="mt-4 me-1" for="">Leave a Comment:  </label>
                        <input  formControlName= "commentBody" type="text">
                        
                        <button class="btn btn-sm btn-success ms-2 mb-2" [disabled]="addCommentForm.invalid" (click)="onSubmit()">Submit Comment</button>
                    </form>
                }
            </div>
        </div>
    } @else {
        <app-not-found></app-not-found>
    }
}