.container {
    padding: 12px;
}

.pagination {
    justify-content: center; 
    flex-wrap: wrap; 
    
}

.page-item {
    margin-bottom: 10px; 
}

.this-button {
    position: relative; 
    display: block; 
    margin: 20px auto; 
    width: auto; 
    margin-top: 50px;
}


@media (max-width: 767px) {
    .this-button {
      width: 100%; 
      font-size: 1rem; 
      padding: 12px; 
    }
}
  