@if (checkLoggedStatus()) {
  <div class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
        
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="/" routerLinkActive="active"  class="nav-link">Home</a></li>
          <li><a routerLink="/blogs" routerLinkActive="active" class="nav-link">Blogs</a></li>
          <li><a routerLink="/faq" routerLinkActive="active" class="nav-link">FAQs</a></li>
          <li><a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact us</a></li>
          @if (isAdmin) {
            <li><a routerLink="/users" routerLinkActive="active" class="nav-link">Users</a></li>
          }
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <button type="button" class="btn btn-warning rounded" routerLink="users/login" (click)="onLogoff()">Logoff</button>
        </form>

        
      </div>
    </div>
</div>
}
