.help {
    background-color: var(--color3);
    border: 2px solid var(--color4);
}

.nav-link{
    text-decoration:  none;
    color: var(--color4);
}
.nav-link:hover{
    text-decoration:  none;
    color: var(--color1);
}

.help {
    background-color: var(--color3);
    border: 2px solid var(--color4);
}

.copyright-text {
    font-family: 'Arial', sans-serif;
    font-size: 0.8rem;
    color: white;
    letter-spacing: 0.5px;
    margin: 0;
  }