.help {
    background-color: var(--color3);
    border: 2px solid var(--color4);
    padding: 20px 0; 
}

.link-pretty {
    text-decoration: none ;
    color: var(--color4);
    transition: color 0.3s ease; 
}

.link-pretty:hover {
    color: var(--color1);
    text-decoration: underline; 
}

.copyright-text {
    font-family: 'Arial', sans-serif;
    font-size: 0.8rem;
    color: white;
    letter-spacing: 0.5px;
    margin: 0;
}

@media (max-width: 767px) { 
    .row-cols-sm-2 {
        grid-template-columns: 1fr; 
    }

    .link-pretty {
        font-size: 1.2rem; 
    }
}