.form-group {
    position: relative;
  }
  
  .password-toggle {
    position: absolute;
    right: 10px;  /* Right align it inside the input field */
    top: 70%;
    transform: translateY(-50%);  /* Vertically center it */
    cursor: pointer;
    font-size: 20px;  /* Adjust the font size if necessary */
    color: black;  /* Blue color for the text */
  }
  
  .password-toggle:hover {
    text-decoration: underline;  /* Underline on hover */
    color: blue;
  }