<div class="outer-container help">
    <div class="container login-wrap p-4 p-md-5">
        <div class="d-flex">
            <div class="w-100">
                <h3 class="mb-4">Sign In</h3>
            </div>        
        </div>
        <form [formGroup]="loginForm" >
            <!-- username or email input -->
            <div class="form-group mb-3">
                <label class="form-label" >Username or Email</label>
                <input type="text" class="form-control" placeholder="Username or Email" formControlName="emailOrUsername">
            </div>
            <!-- password input -->
            <div class="form-group mb-3">
                <label class="label" for="password">Password </label>
                <input [type]="showPassword ? 'text' : 'password'" class="form-control" placeholder="Password" formControlName="password">
                <span role="button" aria-label="Toggle password visibility" class="password-toggle" (click)="togglePasswordVisibility()">
                    <i class="fa" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                </span>
            </div>
            <div class="form-group">
                <button type="submit" (click)="onLogin()" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
            </div>
        </form>
        <p class="text-center">Not a member? <a data-toggle="tab" href="" routerLink="/users/register">Sign Up</a></p>
    </div>
</div>
